/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


 body{
  background-color: black;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.container p #auto-typing{
  color:rgba(231, 28, 102, 0.959) ;
  font-family: inherit;
  text-shadow: 10px 10px 29px rgba(0, 128, 0, 0.378);
  align-items: center;
  font-size: 1.5em;
  font-weight: 100;
}
.container .h3weigth {
  font-weight: 100;
  }
  a#logo-container.brand-logo{
    font-size: 1.1em;
    padding-left: 20px;
    }
    nav.photo img {
     padding-right: 35px;
     width: 60px;
     position: relative;
     top: 2px;
      }
      
      .poid {
        font-weight: 500;
         }
      
                


